<div class="row">
  <mat-form-field class="col-6 offset-3" appearance="outline">
    <mat-label>Todo description</mat-label>
    <input
      #todoText
      matInput
      placeholder="What to do??"
      (keydown.enter)="addTodoHandler(todoText.value)">
  </mat-form-field>
  <div class="col-2 pt-3">
    <button
      mat-button
      color="primary"
      [disabled]="todoItems.length === 0"
      (click)="viewTodoHandler()">VIEW</button>
    <button
      mat-button
      color="warn"
      [disabled]="todoItems.length === 0"
    (click)="completeTodoHandler()">COMPLETE</button>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
    <div *ngIf="todoItems.length === 0">
      <div class="text-center">
        <p>No todo's added</p>
      </div>
    </div>
    <div *ngIf="todoItems.length > 0">
      <mat-selection-list #items >
        <mat-list-option
          *ngFor="let item of todoItems"
          [selected]="item.selected"
          (click)="itemSelectedHandler(item)"
          [value]="item.id">{{item.text}}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>

<router-outlet></router-outlet>