<div class="row">
  <div class="col-12">
    <h2 class="text-center">
      <strong>Welcome to my Todo app home page</strong>
    </h2>
  </div>
  <div class="col-12">
    <h4 class="text-center">
      <strong>Behold this random turtle to distract you</strong>
    </h4>
  </div>
</div>

<div class="row">
    <section class="turtle">
      <div class="head"></div>
      <div class="legs-01"></div>
      <div class="legs-02"></div>
      <div class="tail"></div>
      <div class="shell">
        <div></div>
      </div>
    </section>
</div>

